body {
  margin: 0;
}

.wrapper-content {
  background-image: url(/assets/etl-background.png);
  background-color: grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 25px 0;
  height: 200px;
  width: 100%;

  h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    line-height: 1.25em;
    color: #fff;
    z-index: 3;
    display: block;
    position: relative;
    width: 100%;
  }

  p {
    font-weight: 100;
    text-align: center;
    color: white;
    margin: 20px 0 0;
    font-size: 22px;
  }
}

.wrapper-subpages {
  background-color: #eef3f5;
  color: #697585;
  height: 150px;
  width: 100%;
  &-label {
    font-weight: 100;
    display: flex;
    text-align: center;
    color: #1a1a1a;
    justify-content: center;
    font-size: 22px;
    position: relative;
    top: 20px;
  }

  input {
    display: block;
    width: 30%;
    margin: 50px auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  hr {
    position: relative;
    bottom: 15px;
  }
}

.button {
  position: relative;
  padding: 13px 20px 14px;
  border: 4px solid #FFCC00;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1E2023;
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  width: auto;
  text-align: center;
  transition: all 0.25s ease-in-out;
  &:hover {
    border-color: #FFCC00;
    color: #1E2023;
    background-color: #FFCC00;
  }
  &-etl {
    display: block;
    width: 40%;
    margin: 20px auto;
  }
  &:disabled {
    border-color: #686868;
    background-color: #686868;
  }
}

.panel-etl {
  display: flex;
  justify-content: center;
  .button {
    width: 17%;
    margin-right: 55px;
  }
}

.wrapper-buttons {
  background-color: #eef3f5;
  margin-bottom: 20px;
  padding-bottom: 35px;
  padding-top: 20px;
}

.panel-buttons-database {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  .button {
    margin-right: 15px;
    width: 25%;
  }
}

hr {
  color: #e2e2e2;
  width: 80%;
}

.wrapper-data {
  $table-breakpoint: 480px;
  $table-background-color: #FFF;
  $table-text-color: #024457;
  $table-outer-border: 1px solid #167F92;
  $table-cell-border: 1px solid #D9E4E6;

  $table-border-radius: 10px;
  $table-highlight-color: #EAF3F3;
  $table-header-background-color: #167F92;
  $table-header-text-color: #FFF;
  $table-header-border: 1px solid #FFF;

  @mixin responstable(
    $breakpoint: $table-breakpoint,
    $background-color: $table-background-color,
    $text-color: $table-text-color,
    $outer-border: $table-outer-border,
    $cell-border: $table-cell-border,
    $border-radius: none,
    $highlight-color: none,
    $header-background-color: $table-background-color,
    $header-text-color: $table-text-color,
    $header-border: $table-cell-border) {

    margin-top: -20px;

    .responstable {
      margin: 1em 0;
      width: 100%;
      overflow: hidden;
      background: $background-color;
      color: $text-color;
      border-radius: $border-radius;
      border: $outer-border;

      tr {
        border: $cell-border;
        &:nth-child(odd) {
          background-color: $highlight-color;
        }
      }

      th {
        display: none;
        border: $header-border;
        background-color: $header-background-color;
        color: $header-text-color;
        padding: 1em;
        &:first-child {
          display: table-cell;
          text-align: center;
        }
        &:nth-child(2) {
          display: table-cell;
          span {display:none;}
          &:after {content:attr(data-th);}
        }
        @media (min-width: $breakpoint) {
          &:nth-child(2) {
            span {display: block;}
            &:after {display: none;}
          }
        }
      }

      td {
        display: block;
        word-wrap: break-word;
        max-width: 7em;
        &:first-child {
          display: table-cell;
          text-align: center;
          border-right: $cell-border;
        }
        @media (min-width: $breakpoint) {
          border: $cell-border;
        }
      }

      th, td {
        text-align: left;
        margin: .5em 1em;
        @media (min-width: $breakpoint) {
          display: table-cell;
          padding: 1em;
        }
      }
    }
  }

  @include responstable(
          $border-radius: $table-border-radius,
          $highlight-color: $table-highlight-color,
          $header-background-color: $table-header-background-color,
          $header-text-color: $table-header-text-color,
          $header-border: $table-header-border);

  .id {
    width: 10%;
  }

  .name {
    width: 10%;
  }

  .rating {
    width: 10%;
  }

  .location {
    width: 30%;
  }

  .description {
    width: 40%
  }

  h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
    span {color: #167F92;}
  }
}

.database-info {
  font-weight: 100;
  text-align: center;
  margin: 20px 0 0;
  position: relative;
  top: 20px;
  font-size: 20px;
  &-length {
    color: red;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 264px;
  height: 264px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 251px;
  height: 251px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.request-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #024457;
  align-items: center;
  display: grid;
  justify-content: center;
  opacity: 0.7;
}

.showHideFilterOptions {

}

.filters-panel {
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 400px;

  &-advanced {
    justify-content: flex-end;
    display: none;

    &--display {
      display: flex;
    }
  }

  &-advanced-options {
    background-color: #d3dce3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 190px;
    margin-top: 25px;
    width: 100%;
  }

  &-options {
    margin-top: 25px;
    width: 400px;

    .button {
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      height: 40px;
      margin-right: 10px;
      width: 150px;
      background: -webkit-linear-gradient(bottom, #00bcc0, #007d68);
    }

    .input {
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
      font-size: 12px;
      height: 40px;
      padding-left: 10px;
      width: 265px;
    }

    .icon-search {
      float: right;
      position: relative;
      right: 30px;
      top: 6px;
      width: 25px;
    }
  }

  &-wrapper-advanced {
    display: none;
    position: absolute;
    top: 165px;
    height: 40px;
    max-width: 1024px;
    width: 100%;
    left: 0;
    margin: 5px -26px;
    right: 0px;
  }
}

.filters-section {

  &-label {
    display: block;
    margin-top: 15px;

    &-left {
      margin-left: 10px;
    }
  }

  &__input input{
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    height: 30px;
    margin: 10px 10px;
    padding-left: 10px;
    width: 35%;
  }

  &-upper-left {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .gender-checkbox-edit {

      p {
        display: inline-block;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkmark {
          display: inline-block;

          &::after {
            display: block;
          }
        }
      }

      .label-checkbox {
        display: block;

        p {
          font-weight: 300;
          margin-top: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .checkmark {
        position: relative;
        cursor: pointer;
        border: 1px solid green;
        display: inline-block;
        float: left;
        top: 0;
        left: 0;
        display: inline-block;
        margin-top: 13px;
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          display: none;
          top: 2px;
          left: 2px;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          background:green;
        }
      }
      width: 100%;
    }

    .checkbox {
      cursor: pointer;
      display: block;
      margin-left: 35px;
      margin-top: 15px;
      transform: scale(1.5);
    }
  }

  &-bottom-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 35px;

    .button {
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      height: 40px;
      margin-left: 25px;
      margin-right: 10px;
      width: 150px;
      background: -webkit-linear-gradient(bottom, #00bcc0, #007d68);
    }

    .button:last-child {
      background: -webkit-linear-gradient(bottom, #0052cc, #5eaece);
    }
  }
}

.modal-edit-dropdown {
  cursor: pointer;
  margin-top: 15px;

  &__currency {
    float: right;
    font-size: 14px;
    top: 32px;
    left: 14px;
    position: relative;
  }

  select {
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    height: 30px;
    margin: 5px 0;
    padding-left: 10px;
    width: 95%;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  label {

    &::after {
      border-top: .4em solid;
      border-right: .4em solid transparent;
      border-bottom: 0;
      border-left: .4em solid transparent;
      color: green;
      content: "";
      display: inline-block;
      float: right;
      height: 0;
      margin-left: .255em;
      right: 40px;
      vertical-align: .255em;
      position: relative;
      top: 35px;
      width: 0;
    }
  }
}