<section class="wrapper-content">
  <h1>ETL Process</h1>
  <p>Data comes from booking</p>
</section>
<section class="wrapper-subpages">
  <span class="wrapper-subpages-label">Type integer from how many subpages download data</span>
  <input class="input-subpages" placeholder="type number" (input)="setNumberSubpages($event)"/>
  <hr />
</section>
<section class="wrapper-buttons">
  <div>
  <button class="button button-etl" (click)="etlProcess()">ETL</button>
  </div>
  <div class="panel-etl">
    <button class="button" (click)="extractData()">E</button>
    <button class="button" (click)="transformData()" [disabled]="!isExtractProcessInvoked">T</button>
    <button class="button" (click)="loadData()" [disabled]="!isExtractProcessInvoked || !isTransformProcessInvoked">L</button>
  </div>
  <div class="panel-buttons-database">
    <button class="button" (click)="exportToCsv()">Export to csv </button>
    <button class="button" (click)="clearDatabase()">Clear database </button>
  </div>
  <span class="database-info">Amount of elements in Database: <span class="database-info-length">{{hotels.length}}</span></span>
</section>
<section class="filters-panel">
    <div class="filters-panel-options">
      <button class="button" (click)="showHideFilterOptions()">Filter options</button>

    </div>
</section>
<section class="filters-panel-advanced" [class.filters-panel-advanced--display]="isHiddenFilterOptions">
  <div class="filters-panel-advanced-options">
    <div class="filters-section-upper-left">
      <div>
        <input class="input" type="text" name="filter" placeholder="Search product"  [(ngModel)]="searchHotel">
        <img class="icon-search" src='../assets/search.png'>
      </div>
    </div>
    <div class="filters-section-upper-right">
      <div class="modal-edit-dropdown">
        <div class="filters-section-bottom-right">
          <button class="button" (click)="showHideFilterOptions()">Filter by rating</button>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="wrapper-data">
  <table class="responstable">
    <tr>
      <th class="id">Number</th>
      <th class="name">Name</th>
      <th class="rating">Rating</th>
      <th class="location">Location</th>
      <th class="description">Description</th>
    </tr>

    <tr *ngFor="let hotel of hotels | hotelFilter: searchHotel;  let i = index ">
      <td>{{i+1}}</td>
      <td>{{hotel.name}}</td>
      <td>{{hotel.rating}}</td>
      <td>{{hotel.location}}</td>
      <td>{{hotel.description}}</td>
    </tr>
  </table>
</section>
<section>
  <div class="wrapper-info" *ngIf="!requestInfo">
    <span>{{requestInfo}}</span>
  </div>
</section>
<section *ngIf="isLoading" class="request-loader">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</section>
<div>
  <br />  Wyswietlic komunikat, ze request/y zostały zakonczone pomyslnie - zacząlem to robic
  <br />  Dokonczyc filtrowanie hotelu jak jest ratng
  <br />  Mozna dodac input ktory bedzie przyjmowal link z booking i stamtad pobierał dane
  <br />  Przycisk ekspotu hotelu do txt
</div>